akademik/application/config/database.php
alumni/application/config/database.php
arsip/application/config/database.php
bukutamu/application/config/database.php
cbt/application/config/database.php
e-learning/application/config/database.php
kelulusan/application/config/database.php
kesiswaan/application/config/database.php
keuangan/application/config/database.php
master/application/config/database.php
perpustakaan/application/config/database.php
ppdb/application/config/database.php